extends layout 

block content 
    h2 iniciar seccion 
    form(action="/auth/login", method="post") 
        label(for="email") Email 
        input(type="email", name="email" required) 

        label(for="password") Email 
        input#(type="password", name="password" required)

        button(type="submit") iniciar seccion